<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head> 
	<!--Fragment with head elements common in all pages-->
	<div th:replace="elements/fragments :: head(title = 'Movies')" ></div>
</head>
		
<body>
	
	<!--HEADER WITH NAVBAR -->
	<th:block th:replace="elements/navbar :: navbar"></th:block>

	<!--START OF THE MAIN SECTION -->
	<main>

		<div class="container text-center">
			
			<!--Page title  -->
			<h1 class="mb-3">Media Attributes List</h1>

			<div class="row p-3 d-flex justify-content-evenly flex-wrap gap-3 border border-warning rounded elements-container ">
		
				
				<!--Individual media cards-->
				<div class="card text-start border border-warning" style="width: 18rem;" th:each="attribute : ${mediaAttributesList}" th:object="${attribute}">
				  <div class="card-body d-flex flex-column justify-content-between">
				    <h5 class="card-title">[[*{name}]]</h5>

					<div class="d-flex justify-content-between px-1">
						<a th:href="@{/media-attributes/edit/{id}(id = *{id})}" class="btn btn-primary ">Edit</a>
						<!-- Button that trigger the delete modal -->
						<a type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#delete-modal' + ${attribute.id}">Delete</a>
				  </div>
				  <!-- Delete modal -->
					<div class="modal fade" th:id="'delete-modal' + ${movie.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h2 class="modal-title fs-5" id="staticBackdropLabel">Delete movie</h2>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					      	Do you want to delete the attribute: [[${attribute.name}]]?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<form class="d-inline-block" th:action="@{/media-attributes/delete/{id}(id=${movie.id})}" method="POST">
								<button type="submit" class="btn btn-warning btn-sm " >Delete</button>	
							</form>
					      </div>
					    </div>
					  </div>
					</div>
				  
				  
				</div>
			</div>
		</div>
	</main>
	<!--END OF THE MAIN SECTION -->

	<!--Scripts fragment -->
	<div th:insert="elements/fragments :: scripts">	</div>
	
</body>
</html>
