<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head> 
	<!--Fragment with head elements common in all pages-->
	<div th:replace="elements/fragments :: head(title = 'Movies')" ></div>
</head>
		
<body>
	
	<!--HEADER WITH NAVBAR -->
	<th:block th:replace="elements/navbar :: navbar"></th:block>

	<!--START OF THE MAIN SECTION -->
	<main>

		<div class="container text-center">
			
			<!--Page title  -->
			<h1 class="mb-3">Media Attributes List</h1>
			
			<!--Container of the search bar and the create new attribute button -->
			<div class="row py-3 px-4 g-3">
				<div class="col-auto">
					<!-- Button that trigger the create modal -->
					<button type="button" class="btn btn-dark btn-lg" data-bs-toggle="modal" th:data-bs-target="'#create-modal'">Create new attribute</button>
				</div>
				<div class="col-auto ms-auto">
					<span class="fs-4">Search: </span>
				</div>
				<div class="col-auto" >
					<form class=" d-inline-flex g-1" th:action="@{/media-attributes}" method="GET" id="mediaAttributeSearch">
						<input type="text" class="form-control" id="searchAttribute" name="searchAttribute">
						<button type="submit" class="btn btn-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
					</form>
				</div>
			</div>
			
			<div class=" p-3 d-flex flex-wrap gap-3 border border-warning rounded">
				<!--Individual media cards-->
				<span class="badge rounded-pill text-bg-dark d-inline-flex px-3"  th:each="attribute : ${mediaAttributesList}" th:object="${attribute}">
				  
				    <span class="fs-4 fw-semibold px-2">[[*{name}]]</span>
					<!-- Button that trigger the delete modal -->
					<a type="button" class="btn btn-dark btn-sm" data-bs-toggle="modal" th:data-bs-target="'#delete-modal' + ${attribute.id}"><i class="fa-solid fa-trash"></i></a>
			 
				  <!-- Delete modal -->
					<div class="modal fade text-black" th:id="'delete-modal' + ${attribute.id}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h2 class="modal-title fs-5" id="staticBackdropLabel">Delete attribute</h2>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					      	Do you want to delete the attribute [[${attribute.name}]]?
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<form class="d-inline-block" th:action="@{/media-attributes/delete/{id}(id=${attribute.id})}" method="POST">
								<button type="submit" class="btn btn-warning btn-sm " >Delete</button>	
							</form>
					      </div>
					    </div>
					  </div>
					</div>
				  
			</span>
		</div>
	</main>
	<!--END OF THE MAIN SECTION -->
	
	<!-- Create modal -->
	<div class="modal fade text-black" th:id="'create-modal'" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h2 class="modal-title fs-5" id="staticBackdropLabel">Create new attribute</h2>
	        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	      </div>
		  <form class="d-inline-block"
		   th:object="${newAttribute}"
		   th:action="@{/media-attributes/create}" 
		   method="POST">
		      <div class="modal-body bg-dark">
				<input type="text" class="form-control px-2" id="attributeName" th:field="*{name}" placeholder="Insert attribute name" >
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-warning btn-sm " >Subimit</button>	
	    	  </div>
		  </form>
	    </div>
	  </div>
	</div>

	<!--Scripts fragment -->
	<div th:insert="elements/fragments :: scripts">	</div>
	
</body>
</html>
