body{
	background-image: url("/img/background-img/curtains.jpg");
	background-size: contain;
		
}

h1{
	font-family: "Train One", system-ui;
 	font-weight: 400;
 	font-style: normal;
 	color: burlywood;	
 }

.elements-container{
	background-color: rgba(222, 184, 135, 0.1);
}
