<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head(title = ${movie.title})"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<th:block th:replace="elements/navbar :: navbar"></th:block>

	<!--START OF THE MAIN SECTION -->
	<main>

		<div class="container text-center ">
			<div class="row bg-light p-3  border border-black rounded" th:object="${movie}">
				
				<!-- Page title  -->
				<h1>Insert new movie</h1>
				<hr>
				<!-- Form section -->
				<div class="col-8 m-auto border rounded">
					<form
					id="form-movie"
					th:object="${movie}"
					th:action="@{/movies/create}"
					method="POST">
						
						<!-- Movie title -->
						<div class="mb-3">
						  <label for="title" class="form-label">Title</label>
						  <input type="text" class="form-control" id="title" placeholder="Insert movie title" th:field="*{title}">
						</div>
						<!-- Movie director -->
						<div class="mb-3">
						  <label for="director" class="form-label">Director</label>
						  <input type="text" class="form-control" id="director" placeholder="Insert movie director" th:field="*{director}">
						</div>
						<!-- Movie genre -->
						<div class="mb-3">
						  <label for="genre" class="form-label">Genre</label>
						  <input type="text" class="form-control" id="genre" placeholder="Insert movie genre" th:field="*{genre}">
						</div>
						<!-- Movie description -->
						<div class="mb-3">
						  <label for="description" class="form-label">Description</label>
						  <textarea class="form-control" id="description" rows="3" th:field="*{description}"></textarea>
						</div>
						<!-- Movie year -->
						<div class="mb-3">
						  <label for="year" class="form-label">Date</label>
						  <input type="number" class="form-control" id="year" placeholder="Insert movie year" name="yearValue">
						</div>
						<!--Submit, Reset and Back buttons -->			
						<div class="d-flex mb-5">
							<button type="submit" class="btn btn-primary p-2 mx-1">Submit</button>
							<button type="reset" class="btn btn-danger p-2 mx-1">Reset</button>
							<a class="btn btn-primary p-2 ms-auto mx-1" th:href="@{/movies}">Back</a>
						</div>
					</form>
				</div>	
			</div>
		</div>
	</main>
	<!--END OF THE MAIN SECTION -->


	
</body>
</html>
