<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head(title = ${movie.title})"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<th:block th:replace="elements/navbar :: navbar"></th:block>

	<!--START OF THE MAIN SECTION -->
	<main>

		<div class="container text-center ">
			<div class="row bg-light p-3 border border-black rounded" th:object="${movie}">
				
				<!--Page title  -->
				<h1>[[*{title}]]</h1>
				<hr>
				<!--Section with media description  -->
				<div class="col-9 px-4">
					<p>[[${movie.description}]]</p>	
				</div>
				<!--Section with media info  -->
				<div class="col-3 text-start ps-3 border rounded mb-3">
					<p><strong>Director: </strong>[[*{director}]]</p>	
					<p><strong>Genre: </strong>[[*{genre}]]</p>		
					<p><strong>Year: </strong>[[*{year}]]</p>				
				</div>
				<hr>
				
				<!--Section with media rating  -->
				<div class="col-10 mx-auto pb-3">
					<h3>Rate this movie</h3>
				</div>
				<div class="col-10 mx-auto pb-3">
					<!--Section with movie valutation comment  -->
					<div th:unless="${movie.rateText == null}" id="comment-display">
						<div class="text-end">
							<button type="button" class="btn btn-secondary " id="edit-btn">
								<i class="fas fa-edit"></i>
							</button>
						</div>
						<p class="text-start">[[${movie.rateText}]]</p>	
					</div>
					<!--Form for the movie comment  -->
					<form 
						th:classappend="${!(movie.rateText == null) && !(movie.rateText.isEmpty()) ? 'visually-hidden' : ''}"
						id="form-movie"
						th:object="${movie}"
						th:action="@{/movies/edit/{id}(id = ${movie.id})}"
						method="POST">
						<!--Field for movie valutation comment -->
						<div class="mb-3">
						  	<label for="rateTextArea" class="form-label">Add a comment to this movie</label>
							<textarea class="form-control" id="rateTextArea" rows="5" placeholder="Insert comment here..." th:field="*{rateText}"></textarea>
						</div>
						<!--Hidden fields-->
						<input type="hidden" class="form-control" id="title" th:field="*{title}" />
						<input type="hidden" class="form-control" id="director" th:field="*{director}" />
						<input type="hidden" class="form-control" id="genre" th:field="*{genre}" />
						<input type="hidden" class="form-control" id="description" rows="3" th:field="*{description}" />
						<input type="hidden" class="form-control" id="year" name="yearValue" th:value="*{year}">
						<!--Submit and Reset buttons -->			
						<div class="d-flex mb-5">
							<button type="submit" class="btn btn-primary p-2 mx-1">Submit</button>
							<button type="reset" class="btn btn-danger p-2 mx-1">Reset</button>
						</div>
					</form>					
				</div>
				<!-- Ratings list  -->
				<div class="col-10 mx-auto pb-3 d-flex">
					<div class="col-5" th:each="rating : ${movie.ratings}">
						<span class="fs-4">[[${rating.mediaAttribute.name}]]</span>
						<span class="badge text-bg-danger">[[${rating.value}]]/100</span>
					</div>
				</div>
				<!-- Add a new rating  -->
				<div class="col-10 mx-auto pb-3">
					<p>Select an attributes that you want to rate for this movie</p>
					<p class="text-start">Search by name or browse by category</p>

					<!-- Section containing all the attribute search elements  -->
					<div class="row mb-3">
						<!-- Category select  -->
						<div class="col-auto me-2">
							<select class="form-select" id="category-select" >
							  <option selected>Select the attribute category</option>
							  <option th:each="category : ${categoryList}" th:value="${category.id}">[[${category.name}]]</option>
							</select>
						</div >
						<!--  Attribute select   -->
						<div class="col-auto  mx-2 visually-hidden" id="attribute-field"  >
							<select th:each="category : ${categoryList}" class="form-select visually-hidden" th:id="|category-individual-${category.id}|" >
							  <option selected>Select the attribute</option>
							  <option th:each="attribute : ${category.mediaAttributes}" th:value="${attribute.id}" th:id="|attribute-select-${category.id}|" th:data-mc-name="${attribute.name}" >[[${attribute.name}]]</option>
							</select>					
						</div>
						<div class="col-auto  mx-2">
							Or
						</div>
						<!-- Attribute search by name -->
						<div class="col-auto  mx-2">
							<input list="attributes-search" placeholder="Search by name...">
							<datalist id="attributes-search">
							  <option th:each="attribute : ${attributeList}" th:value="${attribute.id}">[[${attribute.name}]]</option>
							</datalist> 
						</div>
					</div>
					<!-- Form to create the rating  -->
					<form
					id="form-rating"
					th:object="${rating}"
					th:action="@{/ratings/create}"
					method="POST"
					>
						<div class="row g-3">
							<!-- Readonly field with attribute name  -->
							<div class="col-auto">
								<input class="form-control" type="text" id="attribute-readonly" readonly></span>						
							</div>
							<!-- Value field  -->
							<div class="col-auto">
								<input type="number" min="0" max="100" th:field="*{value}" id="rating-value" name="rating-value"  >
							</div>
							<!-- Submit button  -->
							<div class="col-auto">
								<button type="submit" class="btn btn-secondary">Submit</button>						
							</div>
							<!-- Hidden fields  -->
							<div class="visually-hidden">
								<select class="form-select" th:field="*{media.id}" id="rating-media-id">
									<option  th:value="${movie.id}" selected>*</option>
								</select>
								<input class="form-control" th:field="*{mediaAttribute.id}"  id="rating-attribute-id" readonly >
							</div>
							
						</div>
					</form>		
				</div>
				
				<div class="text-end">
					<a class="btn btn-primary me-2" th:href="@{/movies/edit/{id}(id = *{id})}" >Edit movie</a>
					<a class="btn btn-primary" th:href="@{/movies}">Back</a>
				</div>
				
				
			</div>
		</div>
	</main>
	<!--END OF THE MAIN SECTION -->

	<!-- Scripts-->
	<script type="text/javascript" th:src="@{/js/movies/movieShowScript.js}"></script>
	
</body>
</html>
