<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
	
<!--Head section incorporated by fragment-->
<head th:insert="elements/fragments :: head(title = ${movie.title})"> </head>
		
<body class="bg-secondary">
	
	<!--HEADER WITH NAVBAR -->
	<th:block th:replace="elements/navbar :: navbar"></th:block>

	<!--START OF THE MAIN SECTION -->
	<main>

		<div class="container text-center ">
			<div class="row bg-light p-3 border border-black rounded" th:object="${movie}">
				
				<!--Page title  -->
				<h1>[[*{title}]]</h1>
				<hr>
				<div class="col-3 text-start ps-3 border rounded mb-3">
					<p><strong>Director: </strong>[[*{director}]]</p>	
					<p><strong>Genre: </strong>[[*{genre}]]</p>		
					<p><strong>Year: </strong>[[*{year}]]</p>				
				</div>
				<div class="col-8">
					<p>[[${movie.description}]]</p>	
				</div>
				<hr>
				<div class="text-end">
					<a class="btn btn-primary me-2" th:href="@{/movies/edit/{id}(id = *{id})}" >Edit movie</a>
					<a class="btn btn-primary" th:href="@{/movies}">Back</a>
				</div>
				
				
			</div>
		</div>
	</main>
	<!--END OF THE MAIN SECTION -->


	
</body>
</html>
